<section class="section">
  <div class="container content main-wrapper">
    <div class="one-whole column">
      <h1 class="center">
        {{ page.title }}
      </h1>
      <div class="feature_divider"></div>
    </div>

    <div class="three-fourths columns medium-down--one-whole offset-by-two is-hidden-offset-mobile-only page">
      {{ page.content }}
    </div>
  </div>
</section>
