{% comment %}
  The contents of the product.details-teethers.liquid template can be found in /sections/product-details-teethers-template.liquid
{% endcomment %}

{% render 'product-structured-data' %}

{% section 'product-details-teethers-template' %}

<section class="section">
  <div class="container">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  </div>
  {% section 'product-recommendations' %}
</section>
